<h1>Listing vendors</h1>

<p> </p>

<%= link_to 'New Vendor', new_vendor_path, :class=> 'btn-primary' %>
<p></p>
<div class="row">
    <div class="span8">

        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>

          </tr>

        <% @vendors.each do |vendor| %>
          <tr>
            <td><%= vendor.name %></td>
            <td><%= vendor.email %></td>
            <td><%= link_to 'Show', vendor, :class => 'btn-primary' %>
            <%= link_to 'Edit', edit_vendor_path(vendor), :class => 'btn-primary' %>
            <%= link_to 'Destroy', vendor, :class => 'btn-primary', confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </table>
    </div>
</div>


<br />

