<%= error_messages_for(@item) %>

<table summary="Item form fields">
  <tr>
    <th><%= f.label(:name) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:description) %></th>
     <td><%= f.radio_button(:description, 'Image') %> Image
     <%= f.radio_button(:description, 'Text') %> Text </td>
  </tr>
  <tr>
    <th><%= "Notes" %></th>
    <td><%= f.text_area(:note) %></td>
  </tr>
  <tr>
    <th><%= "Tags" %></th>
    <td><%= f.text_field(:tag_list) %></td>
  </tr>
  <tr>
    <th><%= "Events" %></th>
    <td><%= f.text_field(:event_list) %></td>
  </tr>
  <tr>
    <th><%= "Groups" %></th>
    <% if params[:group_name] != "" %>
    <td><%= f.text_field(:group_list, :value => params[:group_name] ) %></td>
    <% else %>
    <td><%= f.text_field(:group_list) %></td>
    <%end%>
  </tr>
    <th><%= "Attachment" %></th>
    <td><%= f.file_field(:attach) %></td>
    <% if @item.attach.exists? %>
    <td><a href="<%= @item.attach.url %> "> <b> <%= @item.attach_file_name %> </b></td>
    <%end%>
  </tr>
   <tr>
    <th><%= "Picture" %></th>
    <td><%= "From File:" %>
    <%= f.file_field(:pic) %></td>
    </tr>
    <tr>
    <th><% "Picture" %></th>
    <th><%= "From URL" %>
    <%= f.url_field(:image_remote_url) %> </th>
    </tr>
    <tr>
    <th><% "Current Picture" %></th>
    <% if @item.pic.exists? %>
    <td><%= image_tag @item.pic.url(:thumb) %></td>
    <%end%>
    <% if !@item.image_remote_url.blank? %>
    <td><%= image_tag @item.image_remote_url, {:size => "100x100"} %></td>
    <%end%>
  </tr>
  <%= hidden_field_tag 'action_name', params[:action_name] %>
<%= hidden_field_tag 'group_name', params[:group_name] %>

</table>