<%= error_messages_for(@item) %>

<table summary="Item form fields">
  <tr>
    <th><%= f.label(:name) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:description) %></th>
     <td><%= f.radio_button(:description, 'Image') %> Image
     <%= f.radio_button(:description, 'Text') %> Text </td>
  </tr>
  <tr>
    <th><%= "Notes" %></th>
    <td><%= f.text_area(:note) %></td>
  </tr>

  <tr>
    <th><%= "Attachment" %></th>
    <td><%= f.file_field(:attach) %></td>
  </tr>

   <tr>
    <th><%= "Picture" %></th>
    <td><%= f.file_field(:pic) %></td>
  </tr>

</table>