<%= error_messages_for(@item) %>

<% if @item == @items.first %> 

<table summary="Item form fields">
    <tr>
    <td><h3><%= "Collections" %></h3></td>
    </tr><tr>
    <td><%= f.text_field(:group_list) %></td>
    </tr>
    <tr>
    <td><%= "Comma-separated list i.e. (Collection 1, Collection 2, ...)" %></td>
    </tr>
  <%= hidden_field_tag 'action_name', params[:action_name] %>
</table>

<%else%>

<table summary="Item form fields">
  <tr>
    <th><%= f.label(:name) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <td><%= f.hidden_field(:user_id, :value => current_user.id) %></td>
  </tr>
  <tr>
    <th><%= f.label(:description) %></th>
     <td><%= f.radio_button(:description, 'Image') %> Image
     <%= f.radio_button(:description, 'Text') %> Text </td>
  </tr>
  <tr>
    <th><%= "Notes" %></th>
    <td><%= f.text_area(:note) %></td>
  </tr>
  <tr>
    <th><%= "Tags" %></th>
    <td><%= f.text_field(:tag_list) %></td>
  </tr>
  <tr>
    <th><%= "Events" %></th>
    <td><%= f.text_field(:event_list) %></td>
  </tr>
  <tr>
    <th><%= "Groups" %></th>
    <% if params[:collection_name] != "" %>
    <td><%= f.select(:group_list, options_from_collection_for_select(current_user.owned_tags.where("context = ?", "groups"), "name", "name"), :prompt => "Choose Collection") %></td>
    <% else %>
    <td><%= f.select(:group_list, options_from_collection_for_select(current_user.owned_tags.where("context = ?", "groups"), "name", "name"), :prompt => "Choose Collection") %></td>
    <%end%>
  </tr>
    <th><%= "Attachment" %></th>
    <td><%= f.file_field(:attach) %></td>
    <% if @item.attach.exists? %>
    <td><a href="<%= @item.attach.url %> "> <b> <%= @item.attach_file_name %> </b></td>
    <%end%>
  </tr>
   <tr>
    <th><%= "Picture" %></th>
    <td><%= "From File:" %>
    <%= f.file_field(:pic) %></td>
    </tr>
    <tr>
    <th><% "Picture" %></th>
    <th><%= "From URL" %>
    <%= f.url_field(:image_remote_url) %> </th>
    </tr>
    <tr>
    <th><% "Current Picture" %></th>
    <% if @item.pic.exists? %>
    <td><%= image_tag @item.pic.url(:thumb) %></td>
    <%end%>
    <% if !@item.image_remote_url.blank? %>
    <td><%= image_tag @item.image_remote_url, {:size => "100x100"} %></td>
    <%end%>
  </tr>
  <%= hidden_field_tag 'action_name', params[:action_name] %>
<%= hidden_field_tag 'collection_name', params[:collection_name] %>

</table>


<div class="row fileupload-buttonbar">
    <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <span>Add files...</span>
            <input type="file" name="item[pic]" multiple>
        </span>
        <button type="submit" class="btn btn-primary start">
            <i class="icon-upload icon-white"></i>
            <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
            <i class="icon-ban-circle icon-white"></i>
            <span>Cancel upload</span>
        </button>
        <button type="button" class="btn btn-danger delete">
            <i class="icon-trash icon-white"></i>
            <span>Delete</span>
        </button>
        <input type="checkbox" class="toggle">
    </div>
    <div class="span5">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
            <div class="bar" style="width:0%;"></div>
        </div>
    </div>
</div>
<!-- The loading indicator is shown during image processing -->
<div class="fileupload-loading"></div>
<br>
<!-- The table listing the files available for upload/download -->
<table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>


<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>

<div id="dropzone" class="fade well">Drop files here</div>

<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td class="preview"><span class="fade"></span></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            {% if (file.error) { %}
                <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
                <td>
                    <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
                </td>
                <td class="start">{% if (!o.options.autoUpload) { %}
                    <button class="btn btn-primary">
                        <i class="icon-upload icon-white"></i>
                        <span>{%=locale.fileupload.start%}</span>
                    </button>
                {% } %}</td>
            {% } else { %}
                <td colspan="2"></td>
            {% } %}
            <td class="cancel">{% if (!i) { %}
                <button class="btn btn-warning">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>{%=locale.fileupload.cancel%}</span>
                </button>
            {% } %}</td>
        </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>
<!--
    <div class="ui-widget" style="margin-top:2em; font-family:Arial">
      Result:
      <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
    </div>
-->



<%end%>