<% @page_title = "Edit" -%>

<% if current_user.id != @item.user_id %>
<h2> Oops! This item doesn't belong to you. <br> <br><%= link_to("Go back to your Items", {:action => params[:action_name], :group_name => params[:group_name]}, :class => 'back-link') %> </h2>
<%else%>

<%#= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>
<% if (params[:action_name] == "grid") %>
<%= link_to("<< Back to List", {:action => params[:action_name], :group_name => params[:group_name]}, :class => 'back-link') %>
<%else%>
<%= link_to("<< Back to List", {:action => 'list', :group_name => params[:group_name]}, :class => 'back-link') %>
<%end%>

<div class="item edit">
  <h2>Edit</h2>

  <%= form_for(:item, :url => {:action => 'update', :id => @item.id}, :method => 'PUT') do |f| %>
    
  	<%= render(:partial => 'form', :locals => {:f => f} ) %>
	

  	  <%= submit_tag('Update', :class => "btn-primary") %>

  <% end %>
</div>

<%end%>