<% @page_title = "Items List" %>

<h2>Items</h2>
<%= link_to('Back to list', {:action => 'list' , :collection_name => ""}) %>



<ul class="nav nav-pills">
<h3> My Collections </h3>
<%= link_to('Add/Delete Collections', {:action => 'edit', :id => @item.id}, :class => 'btn-primary') %>
<%if (params[:collection_name] == "") %>
  <li class = "active">
  <%else%>
  <li>
  <%end%>
  <%= link_to "All", :action => 'list', :collection_name => ""%>
  </li>
  
  <% if current_user.owned_tags.where("context = ?", "groups") != [] %>
<% current_user.owned_tags.where("context = ?", "groups").each do |group| %>
<%if (params[:collection_name] == group.name)%>
  <li class = "active">
  <%else%>
  <li>
  <%end%>
<%= link_to group.name, :action => 'list', :collection_name => group.name %>
</li>
  <%end%>
<%end%>

</ul> 


<div class="tab-content">
<div class="span12">



<%if (params[:collection_name] == "") %>

    <table width=670px> 
    <tr>
    <td>
    <%= link_to('Add New Item', {:action => 'new', :collection_name => ""}, :class => 'btn-primary') %>
    <%= pluralize(@items.length, 'item') %> found
    </td>
    <td align=right>
    <% if (params[:starred] == "1") %>
          <%= link_to(image_tag('yellow-star1.png', :size => "25x25", :mouseover => 'star_silver.png'), {:action => 'list', :collection_name => ""}) %>
        <%else%> 
            <%= link_to(image_tag('star_silver.png', :size => "25x25", :mouseover => 'yellow-star1.png'), {:action => 'list', :starred => 1, :collection_name => ""}) %>
        <%end%>
           <%= link_to(image_tag('icon_list.png'), {:action => 'list', :collection_name => ""}) %>
    <%= link_to(image_tag('grid-icon1.png'), {:action => 'grid', :collection_name => ""}) %>
    </td>

    </tr>
    </table>

    <%= form_for(:tag, :url => {:action => 'list'}, :method => 'GET') do |f| %>
        <%= select_tag :tag_name, options_from_collection_for_select(current_user.owned_tags.where("context = ?", "tags"), "name", "name"), :prompt => 'Filter by Tags', :onchange => 'submit()'%>
        <%= select_tag :event_name, options_from_collection_for_select(current_user.owned_tags.where("context = ?", "events"), "name", "name"), :prompt => 'Filter by Events', :onchange => 'submit()'%>
        <%= select_tag :description, options_for_select(["Image", "Text"]), :prompt => 'Filter by Type', :onchange => 'submit()'%>
        
        <%= hidden_field_tag 'collection_name', "" %>

        
   
        <%end%>





<%else%>
<table width=670px> 
    <tr>
    <td>
    <%= link_to('Add New Item', {:action => 'new', :collection_name => params[:collection_name]}, :class => 'btn-primary') %>
    <%= pluralize(@items.length, 'item') %> found
    </td>
    <td align=right>
        <% if (params[:starred] == "1") %>
          <%= link_to(image_tag('yellow-star1.png', :size => "25x25", :mouseover => 'star_silver.png'), {:action => 'list', :collection_name => params[:collection_name]}) %>
        <%else%> 
            <%= link_to(image_tag('star_silver.png', :size => "25x25", :mouseover => 'yellow-star1.png'), {:action => 'list', :starred => 1, :collection_name => params[:collection_name]}) %>
        <%end%>
        <%= link_to(image_tag('icon_list.png'), {:action => 'list', :collection_name => params[:collection_name]}) %>
    <%= link_to(image_tag('grid-icon1.png'), {:action => 'grid', :collection_name => params[:collection_name]}) %>
    </td>

    </tr>
    </table>
    
    

    <%= form_for(:tag, :url => {:action => 'list'}, :method => 'get')  do |f| %>
        
            

        <%= select_tag :tag_name, options_from_collection_for_select(current_user.owned_tags.where("context = ?", "tags"), "name", "name"), :prompt => 'Filter by Tags', :onchange => 'submit()'%>
        <%= select_tag :event_name, options_from_collection_for_select(current_user.owned_tags.where("context = ?", "events"), "name", "name"), :prompt => 'Filter by Events', :onchange => 'submit()'%>
        <%= select_tag :description, options_for_select(["Image", "Text"]), :prompt => 'Filter by Type', :onchange => 'submit()' %>

        <%= hidden_field_tag 'collection_name', @group_name %>


    <%end%>


    <%end%>

<div class="row">
  <div class="span12">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">

          <thead>
              <tr>
                <th width="50">ID</th>
                <th width="150">Item Name</th>
                <th width="150">Type</th>
                <th width="150">Notes</th>
                <th width="150">Tags</th>
                <th width="150">Events</th>
                <th width="150">Starred</th>
                <th width="400">Actions </th>
              </tr>
          </thead>
          <tbody>
          <% @items.each do |item| %>
              <tr>
                <td><%= item.id %></td>
                <td><%= item.name %> </td>
                <td><%= item.description %></td>
                <td><%= item.note %></td>
                <td><%= item.tag_list %></td>
                <td><%= item.event_list %></td>
                <td>


<%if (item.starred == true) %>

                <%= form_for(:item, :url => {:action => 'updatestar', :id => item.id}, :method => 'PUT') do |f| %>
<%=image_tag('yellow-star1.png', :size => "25x25")%>
                <%= f.check_box :starred, {:onchange => 'submit()', :checked => true, :id => item.id}, "yes", "no" %>

                <%= hidden_field_tag 'collection_name', @group_name %>

                <% end %>
               
                
              <% else %>
              
                <%= form_for(:item, :url => {:action => 'updatestar', :id => item.id}, :method => 'PUT') do |f| %>
               <%=image_tag('star_silver.png', :size => "25x25") %>
                <%= f.check_box :starred, {:onchange => 'submit()', :checked => false, :id => item.id} %>

                <%= hidden_field_tag 'collection_name', @group_name %>
                <% end %>
               

              <% end %>


                </td>
                <td>
                <%= link_to('Show',{:action => 'show', :id => item.id, :collection_name => params[:collection_name]}, :class => 'btn-primary')%> 
                <%= link_to('Edit', {:action => 'edit', :id => item.id, :collection_name => params[:collection_name]}, :class => 'btn-primary') %>
                  <%= link_to('Delete', {:action => 'delete', :id => item.id, :collection_name => params[:collection_name]}, :class => 'btn-primary') %></td>
              </tr>
          <% end %>
          </tbody>
      </table>

  </div>
  <div class="span4"></div>
</div>

  </div>

</div>
</div>

