<% @page_title = "Items List" %>

<h2>Items</h2>
<%= link_to('Back to list', {:action => 'index'}) %>
<p>
<%= link_to('Add New Item', {:action => 'new'}, :class => 'btn-primary') %>
</p>
<p>
<div><%= pluralize(@items.size, 'item') %> found</div>
<p>

<%= form_for(:tag, :url => {:action => 'list'}, :method => 'GET') do |f| %>
<%= select_tag :tag_name, options_from_collection_for_select(@tags, "name", "name"), :prompt => 'Filter by Tags', :onchange => 'submit()'%>
<%= select_tag :event_name, options_from_collection_for_select(@events, "name", "name"), :prompt => 'Filter by Events', :onchange => 'submit()'%>
<% end %>

<div class="span12">
  <ul class="thumbnails">
    <% @items.each do |item| %>

        <li class="span3">
          <div class="thumbnail">
            <a class="thumbnail" href="items/show/<%= item.id%>">
              <%= image_tag item.pic.url(:medium) %> </a>
              <h5><%= item.name %></h5>
              <h5><%= item.note %></h5>
              <h5><%= item.tag_list %></h5>
              <h5><%= item.event_list %></h5>
          </div>
        </li>
    <% end %>
  </ul>
</div>



<div class="row">
  <div class="span12">
      <table class="table table-striped table-bordered table-condensed">

          <thead>
              <tr>
                <th width="50">ID</th>
                <th width="150">Item Name</th>
                <th width="150">Type</th>
                <th width="150">Notes</th>
                <th width="150">Tags</th>
                <th width="150">Events</th>
                <th width="150">Actions </th>
              </tr>
          </thead>
          <tbody>
          <% @items.each do |item| %>
              <tr>
                <td><%= item.id %></td>
                <td><%= item.name %> </td>
                <td><%= item.description %></td>
                <td><%= item.note %></td>
                <td><%= item.tag_list %></td>
                <td><%= item.event_list %></td>
                <td>
                <%= link_to('Show',{:action => 'show', :id => item.id}, :class => 'btn-primary')%> 
                <%= link_to('Edit', {:action => 'edit', :id => item.id}, :class => 'btn-primary') %>
                  <%= link_to('Delete', {:action => 'delete', :id => item.id}, :class => 'btn-primary') %></td>
              </tr>
          <% end %>
          </tbody>
      </table>

  </div>
  <div class="span4"></div>
</div>