<% @page_title = 'Create Item' %>

<%#= items_path(@items)%>

<a href ="new.json"> lalala </a>



<% if (params[:action_name] == "grid") %>
<%= link_to("<< Back to List", {:action => params[:action_name], :group_name => params[:group_name]}, :class => 'back-link') %>
<%else%>
<%= link_to("<< Back to List", {:action => 'list', :group_name => params[:group_name]}, :class => 'back-link') %>
<%end%>

<div class="item new">
  <h2>Create Item</h2>

  <%= form_for(:item, :url => {:action => 'create'}, :multipart => true ) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>

      <%= submit_tag 'Create Item', :class => "btn-primary" %>

  
  <% end %>
</div>
