<% if (params[:action_name] == "grid") %>
<%= link_to("<< Back to List", {:action => params[:action_name], :group_name => params[:group_name]}, :class => 'back-link') %>
<%else%>
<%= link_to("<< Back to List", {:action => 'list', :group_name => params[:group_name]}, :class => 'back-link') %>
<%end%>
<div class="item show">
  <h2>Show Item</h2>

  <table summary="Item detail view">
    <tr>
      <th>Name</th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th>Notes</th>
      <td><%= @item.note %></td>
    </tr>
    <tr>
      <th>File</th>
    <% if @item.attach.exists? %>
    <td><a href="<%= @item.attach.url %> "> <b> <%= @item.attach_file_name %> </b></td>
    <%end%>
    </tr>
    <tr>
      <th>Image</th>
      <% if @item.pic.exists? %>
      <td><%= image_tag @item.pic.url(:original) %></td>
      <% end %>
    </tr>    
    <tr>
      <th>Tags</th>
      <td><%= @item.tag_list %></td>
    </tr>    
    <tr>
      <th>Events</th>
      <td><%= @item.event_list %></td>
    </tr>    
    <tr>
      <th>Collections</th>
      <td><%= @item.group_list %></td>
    </tr> 
    <tr>
      <th>Created</th>
      <td><%= @item.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @item.updated_at %></td>
    </tr>
  </table>
  
</div>
