<% if (params[:action_name] == "grid") %>
<%= link_to("<< Back to List", {:action => params[:action_name], :group_name => params[:group_name]}, :class => 'btn-pink') %>
<%else%>
<%= link_to("<< Back to List", {:action => 'list', :group_name => params[:group_name]}, :class => 'btn-pink') %>
<%end%>






<table style="margin: 0px auto;">
  <tr>
  <td>
    <h1><%= @item.name %></h1>
    <% if @item.attach.exists? %>
        <a href="<%= @item.attach.url %> "> <b> <%= @item.attach_file_name %> </b>
        <% end %>
      <% if @item.pic.exists? %>
          <%= image_tag @item.pic.url(:original), {:class=>"thumbnail"} %>
                     <% end %>
       <% if !@item.image_remote_url.blank? %>
        <%= image_tag @item.image_remote_url, {:class=>"thumbnail"} %>
      <% end %>
    
  </td>  
  </tr>
  <tr>
  <td><%= @item.note %><br><%= @item.tag_list %><br><%= @item.created_at.to_formatted_s(:long_ordinal) %></td>
  </tr>
    
</table>

